# Compiled files
*.o
*.mod
*.exe
*.bak

# Executables
test/test_shear_center
test/test_all_meshes
test/check_orientation
test/test_read_working
test/test_read_only
test/test_sign

# Temporary files
*~
*.tmp
*.swp
